@CHARSET "ISO-8859-1";

/* main-content */

#post-list {
	margin: 40px 0;
}
.panel {
	background-color: rgba(255, 255, 255, 0.8);
}
.panel-heading {
	padding: 5px 20px;
}
.panel-title {
	margin-top: 2px;
	font-size: 14px;
}

#post-area {
	height: 45px;
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	color: white;
}
#post-count-submit {
	margin-top: -6px;
}
#post-submit {
	/*margin-top: 14px;*/
	background-color: #33383b;
	color: #ffffff;
	border: 0;
}
#post-count {
	font-size: 10px;
	color: #9d9d9d;
	margin-bottom: 0;
}
.post-text {
	color: black;
	word-break: break-all;
}
.post-info {
	font-size: 11px;
	margin-top: 15px;
}
ul {
	margin: 0;
}

.more {
	margin-top: -15px;
	margin-bottom: 40px;
	max-width: 150px;
}