@CHARSET "ISO-8859-1";


#settings, #password {
	max-width: 500px;
}

.form-container {
	max-width: 1000px;
	float: none;
	margin: 0 auto;
}

.form-control {
	background-color: rgba(255, 255, 255, 0.9);
}

.form-control[readonly] {
	background-color: rgba(255, 255, 255, 0.9);
}

.input-group {
    margin-bottom: 15px;
}

#profile-picture {
	max-width: 200px;
	padding-bottom: 20px;
}

#confirm {
	margin-top: 40px
}

.save-btn {
	margin-top: 30px;
	max-width: 130px;
}

.delete-btn {
	margin-top: 15px;
	max-width: 130px;
}
