@CHARSET "ISO-8859-1";

body {
	//background-image: url('../img/backgrounds/login3.jpg');
}

.panel {
	border: none;
}

#logo {
	font-size: 40px;
 	margin-top: 30px;
    max-width: 50%;
}

#signup {
	max-width: 350px;
	position: relative;
	z-index: 3;
	background-color: rgba(50,50,50,0.8);
	border-radius: 5px;
}
#signup-form {
	margin: 30px 5%;
	background-color: rgba(0,0,0,0);
}
#signup h1 {
	color: white;
	text-shadow: 0px 0px 1px black;
}
#signup-form label {
	color: white;
}
#signup-form input {
	background-color: rgba(255,255,255,0.4);
	color: white;
	border: black;
}
#signup-form input[type="submit"] {
	background: none;
	color: rgba(255,255,255,0.3);
	border: 1px solid rgba(255,255,255,0.5);
	transition: color 0.5s ease;
}
#signup-form input[type="submit"]:hover {
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
}
#submit {
	margin: 30px 0;
}
#login {
	color: white;
}
#login a {
	color: grey;
	text-decoration: none;
	transition: color 0.5s ease;
}
#login a:hover {
	color: white;
}

.input-group {
    margin-bottom: 15px;
}

hr {
	margin-top: 10%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.2));
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }