@CHARSET "ISO-8859-1";

html {
	min-height: 100%;
}
body {
	height: 100%;
	background-image: url('../img/backgrounds/background.jpg');
	/*background-color: lightsteelblue;*/
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    -webkit-transition: background-image 0.5s ease-in-out;
    -moz-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 60px 0;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: whitesmoke;	
}
h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 15px;
	margin-top: 10px;
}

/* general */
.comment .attachment {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
	padding-top: 10px;
}
.form-control:focus{
	box-shadow: none;
}
a.glyphicon, a.fa {
	text-decoration: none;
}
.info{
	font-size: 10px;
}
.panel .panel-footer > ul.list-unstyled {
	margin: 0;
}
.panel {
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}
.panel-default>.panel-heading {
	border-color: #f5f5f5;
}
.panel-heading {
	padding: 10px 20px;
}
.panel-body {
	padding: 10px 20px;
}
label {
	font-weight: 500;
}

/* navigation */
.navbar-inverse {
	background-color: #292c2f;
	border-color: #292c2f;
}
.navbar a {
	color: white;
}
.navbar-right a {
	padding-left: 10px;
}
.navbar-brand {
	/*padding: 15px 0;*/
}
#navbar-logo {
	font-size: 30px;
	color: wheat;
	margin-top: -5px;
	max-width: 110px;
	height: auto;
}
#navbar-logo:active {
	margin-top: -4px;
}
.navbar-toggle .icon-bar {
	background: #337AB7;
}
.navbar-nav li a {
	padding: 15px 25px;
}
#navbar-profile-img {
	height: 30px;
	margin-top: -4px;
	margin-left: 10px;
	float: right;
}
#search-bar {
	width: 170px;
 	color: white;
 	background-color: transparent;
	border: none
 }
#search-icon {
 	color: #9d9d9d;
 	background-color: transparent;
	border: none
 }
 #search-icon:hover {
 	color: white;
 }
 
/* title */
#title-header {
	max-width: 100%;
	margin-bottom: 30px;
}
#btn-back {
	color: rgba(255, 255, 255, 0.5);
	font-size: 2em;
	margin-top: 20px;
}
#btn-back:hover {
	color: #f5f5f5;
}

/* tables */
table.table {
	font-size: 14px;
}

/* footer */
#footer {
    height: 45px;
    background-color: #292c2f;
    border-top: none;
}
#align-right {
    text-align: right;
}

#footer ul {
	margin: 3px;
    font-size: 13px;
}
#footer li {
	margin-left: 25px;
    text-align: right;
    color: white;
}
#footer li a {
    color: white;
}
#footer li a:hover {
    text-decoration: none;
}

/* post */
#footer-post {
    height: 65px;
    background-color: #292c2f;
    border-top: none;
}
#footer-post ul {
	margin: 3px;
    font-size: 13px;
    margin-top: 23px;
}
#footer-post li {
	margin-left: 25px;
    text-align: right;
    color: white;
}
#footer-post li a {
    color: white;
}
#footer-post li a:hover {
    text-decoration: none;
}

#footer-login {
    height: 45px;
    background-color: rgba(0,0,0,0);
    border-top: none;
}
#footer-login .container {
    text-align: right;
}
#footer-login ul {
    margin: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
#footer-login li {
	margin-left: 25px;
    text-align: right;
    color: white;
}
#footer-login li a {
    color: white;
}
#footer-login li a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder {
   text-transform: initial;
}
:-moz-placeholder { 
   text-transform: initial;
}
::-moz-placeholder {  
   text-transform: initial;
}
:-ms-input-placeholder { 
   text-transform: initial;
}
